body
{
	font-family: 'PT Sans', sans-serif;
	background: #D3CCE3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Principal
{
	margin-bottom: 5%;
}
.Formulario
{
	margin-top: 5%;
	height: 500px;
}
form
{
	background: #D6CFDA;
	width: 40%;
	padding:2%;
	margin: 2% 0% 0% 30%;
	-webkit-box-shadow: 1px 1px 52px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 52px -8px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 52px -8px rgba(0,0,0,0.75);
}
input
{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 60%;
	border-radius: 3%;
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
}
#enviar
{
	background:#9F9CA0;
	border: none;
}
.Pie
{
	background: #D0CBCA;
}